*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #ccc;
}

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 20px 0;
    text-align: center;
}

.title{
    width: 100%;
    margin: auto;
    text-align: center;
    padding: 5%;
}

span > a{
    text-decoration: none;
}

.logoff{
    text-decoration: none;
    color: rgb(250, 75, 75);
    font-weight: 600;
}

.logoff:hover{
    color: rgb(255, 38, 38);
}

.pic{
    float: left;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}